.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-nav {
  padding: 1.4rem;
  background-color: #282c34;
}

a {
  text-decoration: none;
  padding: 1rem;
  font-family: sans-serif;
  --webkit-font-smoothing: antialiased;
  color: antiquewhite;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

a:hover {
  color: aliceblue;
}

.active-class {
  color: red;
}
